header{
    display: flex;
    align-items: center;
    padding-inline: 50px;
}


.container{
    display: flex;
    margin-top: 5em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.backGroundQrCode{
    display: flex;
    align-items: center;
    justify-content: center;
}

.QrCode{
    display: flex;
    align-items: center;
    justify-content: center;
}
