* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

:root {
    --white: #F2F5F9;
    --lightblue: #3662E3;
    --darkblue: #111729;
    --darkGrey: #364153;
    --lightGrey: #4e80ee33;

}

body {
    background-color: var(--darkGrey);
    background-image: url(/imagens/bg-illustration.svg);
    background-position: right;
    background-size: 40%;
    background-repeat: no-repeat;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    height: 100px;
}

.backGroundQrCode {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-color: var(--lightGrey);
}

.QrCode {
    background-color: var(--white);
    width: 190px;
    height: 190px;
    border-radius: 10px;
}

.img {
    width: 160px;
    height: 160px;
}

/* Buttons */

.buttoncontainer {
    margin-top: 3em;
}

.buttoncontainer button {
    height: 43px;
    padding: 10px 30px;
    color: var(--white);
    background-color: var(--lightblue);
    margin-left: 20px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.7s;

    &:hover {

        background-color: #214ac7;
        transition: 0.7s;
    }
}